---
title: Tags
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>TAGS</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
        {% if site.recommend-tags and site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" onclick="location.assign('#{{ tag[0] }}');filter();" class="tag">{{ tag[0] }}</a>
            {% endfor %}
        {% endif %}
        </li>
        {% for tag in site.tags %}
        <li class="fav-posts" id="post-{{ tag[0] }}">
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        {% endfor%}
    </ul>

</main>

<script type="text/javascript">
    function getArgsFromHref(sArgName){
    var url = window.location.href;
        var args=url.split("#");
        if(args[0]==url)
            return "";
        var str=args[1];
        return str;
    }
    function filter() {
        var tmp=getArgsFromHref('');
        if(tmp!="") {
            tmp='post-'+tmp;
            console.log(tmp);
            var arr=document.getElementsByClassName("fav-posts");
            var len=arr.length;
            console.log(len);
            for(var i=0;i<len;i++) {
                console.log(arr[i].id);
                if(arr[i].id!=tmp) {
                    arr[i].style.display='none';
                } else {
                    arr[i].style.display='block';
                }
            }
        }
    }
    filter();
</script>

{% include footer.html %}