---
title: Words Learning
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>WORDS LEARNING</h2>
</div>

<main>
<iframe src="https://quizlet.com/249165275/flashcards/embed" height="600" width="100%" style="border:0"></iframe>

@This page is powered by <a href="https://quizlet.com">Quizlet</a>
</main>

{% include footer.html %}